<div class="flex">
  <div class="flex flex-col">
    <h1 class="text-5xl font-semibold">Olá Davi</h1>
    <div class="flex mt-5 flex-wrap">
      <span class="bg-blue-400 shadow-blue-200 badge">
        <fa-icon [icon]="icons.diamond" class="mr-1"></fa-icon>
        Platina
      </span>

      <span class="bg-purple-400 shadow-purple-200 badge mx-2">
        <fa-icon [icon]="icons.questions" class="mr-1"></fa-icon>
        102 Questões
      </span>

      <span class="bg-red-400 shadow-red-200 badge">
        <fa-icon [icon]="icons.game" class="mr-1"></fa-icon>
        NVL 87
      </span>
    </div>
  </div>
</div>
