<form class="flex flex-col mx-5 md:mx-20 justify-center h-full">
    <div class="text-center">
      <h1 class="text-6xl">Bem vindo!</h1>
      <span>Preencha o formulário abaixo</span>
    </div>

    <label for="email" class="font-semibold mt-10">Nome</label>
    <input
      type="text"
      class="p-3 rounded-lg border focus:outline-none focus:border-blue-200"
      placeholder=""
    />
  
    <label for="email" class="font-semibold mt-5">E-mail</label>
    <input
      type="text"
      class="p-3 rounded-lg border focus:outline-none focus:border-blue-200"
      placeholder=""
    />
  
    <div class="relative flex flex-col">
      <label for="email" class="font-semibold mt-5">Password</label>
      <input
        [type]="isPass ? 'password' : 'text'"
        class="p-3 rounded-lg border focus:outline-none focus:border-blue-200"
        placeholder=""
      />
  
      <button
        class="absolute bottom-3 right-3"
        type="button"
        (click)="isPass = !isPass"
      >
        @if (isPass) {
        <fa-icon
          [icon]="icons.eye"
          class="bg-blue-100 text-blue-400 p-2 rounded-lg"
        ></fa-icon>
        } @else {
        <fa-icon
          [icon]="icons.slash"
          class="bg-blue-100 text-blue-400 p-2 rounded-lg"
        ></fa-icon>
  
        }
      </button>
    </div>
  
    <button
      class="bg-blue-400 mt-10 rounded-lg text-white font-semibold hover:shadow-lg p-3 hover:shadow-blue-200 hover:bg-blue-500"
    >
      ENTRAR
    </button>
  
    <span class="text-center mt-5">
      Possui uma conta?
      <b class="text-blue-400 cursor-pointer" routerLink="/login">Entrar</b>
    </span>
    <span class="text-center">
      Não é Aluno?
      <b class="text-blue-400">Entrar como professor</b>
    </span>
  </form>
  