@if(!isAuth && windowService.getWindow().innerWidth < 700) {
<div
  style="z-index: 11"
  class="flex justify-between fixed bottom-0 bg-white p-3 mt-3 w-full border-t-3 rounded-lg"
>
  <button
    routerLink="/home"
    [ngClass]="{
      active: router.includes('home'),
      'text-blue-400': !router.includes('home')
    }"
  >
    <fa-icon [icon]="icons.lessons"></fa-icon>
    <span class="mx-2 font-semibold">Início</span>
  </button>
  <button
    [ngClass]="{
      active: router.includes('teams'),
      'text-blue-400': !router.includes('teams')
    }"
    routerLink="/teams"
  >
    <fa-icon [icon]="icons.rank"></fa-icon>
    <span class="mx-2">Ranking</span>
  </button>
  <button class="text-blue-400" routerLink="/login">
    <fa-icon [icon]="icons.exit"></fa-icon>
    <span class="mx-2">Sair</span>
  </button>
</div>
} @if(!isAuth && windowService.getWindow().innerWidth >= 700) {
<div
  class="flex justify-between items-center w-full bg-white p-3 fixed top-0 shadow-lg"
>
  <img src="assets/logo2.png" alt="" />

  <div class="flex items-center">
    <span
      class="text-lg cursor-pointer"
      routerLink="/home"
      [ngClass]="{
        active: router.includes('home'),
        'text-blue-400': !router.includes('home')
      }"
    >
      Início
    </span>
    <span
      class="text-lg mx-7 cursor-pointer"
      routerLink="/teams"
      [ngClass]="{
        active: router.includes('teams'),
        'text-blue-400': !router.includes('teams')
      }"
    >
      Ranking
    </span>
    <span class="text-lg mr-5 cursor-pointer text-blue-400" routerLink="/login">
      Sair
    </span>
  </div>
</div>
}
