<div class="mx-5 md:mx-20">
  <div class="flex items-center my-7">
    <fa-icon [icon]="icons.lesson"></fa-icon>
    <span class="ml-2 text-2xl font-semibold text-gray-950">
      Atividades disponíveis
    </span>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-5">
    @if (lessons.length == 0) {
    <div class="col-span-1">
      <app-card-not-found-lessons />
    </div>
    } @for (item of lessons; track $index) {
    <div class="col-span-1">
      <app-card-lessons-available [lesson]="item" />
    </div>
    }
  </div>
  <app-chart-score />
</div>
